
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    height:100%
}
#register {
    display:none
}

#popUp{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    z-index:1000;
}

#popUpContent{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:#fff;
    padding:20px;
    border-radius:5px;
    width:500px;
    height:500px;
}

#mainPage {
    display: none;
    width:100%;
    height: 100%;
    flex-direction: inherit;
}

#side {
    width: 20%;
    height: 100%;
}


#sideBar {
    width:20%;
    height:100%;
    padding: 0;
    max-width: 332px;
}

#copyright {
    width:70px;
    height:5%;
}

#banner {
    height: 5%;
    width: 20px
}

#templateChannel {
    display:none
}

.list-group-item:hover {
    background-color: aqua;
    cursor: pointer;
}

#messageTemplate {
    display:none
}



#messagesTable {
    overflow-y: scroll; 
}


#createChannelFormTemplate {
    display: none;
}

#headerRow {
    position: absolute;
}

#editChannelButtonTemplate {
    display: none;
    padding: 0px
}

#updateChannelFormTemplate {
    display: none;
}

#leaveChannelButtonTemplate {
    display: none;
}

#joinChannelButtonTemplate {
    display: none;
}

#editMessageButtonTemplate {
    display: none;
}

.dateRow{
    width:20%
}

#container {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#messageInput {
    display:flex;
    height: 5%;
    width: 100%;
}

#table 
{
    display:flex;
    height: 90%;
    padding:0px;
    margin:0
}

#message {
    height:100%;
    width:93%;
}
#send {
    width: 7%;
}

#editMessageFormTemplate {
    display:none
}

.pinButton {
    margin-left: 5px;
}

.userName:hover {
    cursor: pointer;
    color: lightblue
}

#userProfileTemplate {
    display: none;

}

.userProfile {
    list-style: none;
}

#profileBar {
    display:flex;
    height: 5%;
    width: 100%;
    flex-direction: row-reverse;
    padding: 0;

}

#profileImage {
    width: 5%;
    height: 100%;
    display: flex;
}

#profileImage:hover {
    cursor: pointer;
}

.login-input {
    width:25%;
    margin: 5px 37.5%
}

#login-form {
    text-align: center;
}

#editProfileTemplate {
    display: none;
}